<!DOCTYPE html>
<html>

<body>
  <div class="Container">
  <div class="leftContainer style">

    {{#each details}}

    <div class="bigphoto">
      <img class="bigImage" id="bigImage" src="{{this.img}}" alt="">
    </div>

  </div>



  <div class="rightContainer">

    <div class="info">
      <h4 class="name">{{this.name}} <span style="color:#752223">Item Name</span></h4>
      <h4 class="price">{{this.price}} <span style="color:#752223">NIS</span></h4>
      <h4 class="shopname">{{this.shop_name}} <span style="color:#752223">SHOP</span></h4>
      <!-- <p><i class="fa fa-heart-o" onclick="btnClickLike({{id}})"></i> </p> -->
      <!-- <p class="info"> <a href="#"><i class="fa fa-heart-o" onclick="btnClick()"></i></a></p> -->
      {{#if this.saved}}
        <p class="info"><a><i id="{{this.id}}" class="fa fa-heart" onclick="btnClick({{this.id}})"></i></a></p>
        {{else}}
        <p class="info"><a><i id="{{this.id}}" class="fa fa-heart-o" onclick="btnClick({{this.id}})"></i></a></p>
      {{/if}}
    </div>

  <div class="photos">

  <div>
    <img class='image' src="{{this.views1}}" alt="">
  </div>
  <div>
    <img class='image' src="{{this.views2}}" alt="">
  </div>
  <div>
    <img class='image' src="{{this.views3}}" alt="">
  </div>
  <div>
    <img class='image' src="{{this.views4}}" alt="">
  </div>


  </div>

  {{/each}}

  </div>

  </div>
  <script src="/js/details.js"></script>
  <script src="/js/saved.js"></script>
</body>

</html>
