
<div class="Container">
<div class="leftContainer style">

  <div class="bigphoto">
    <img src="{{bigimg.views1}}" alt="">
  </div>

</div>

<div class="rightContainer">

  <div class="info">
    <h4 class="name">{{bigimg.name}} <span style="color:#752223">Item Name</span></h4>
    <h4 class="name">{{bigimg.name}} <span style="color:#752223">Item Name</span></h4>
    <h4 class="price">{{bigimg.price}} <span style="color:#752223">NIS</span></h4>
    <h4 class="shopname">{{bigimg.shop_name}} <span style="color:#752223">SHOP</span></h4>
    <p><i class="fa fa-heart-o" onclick="btnClickLike({{id}})"></i> </p>
  </div>

<div class="photos">

<div>
  <img class='image' src="{{itemviews.views1}}" alt="">
</div>
<div>
  <img class='image' src="{{itemviews.views2}}" alt="">
</div>
<div>
  <img class='image' src="{{itemviews.views3}}" alt="">
</div>
<div>
  <img class='image' src="{{itemviews.views4}}" alt="">
</div>


</div>

</div>

</div>

  <script src="/js/details.js"></script>
