<!DOCTYPE html>
<html>


<body>
<div id="block_container">
      <div id="bloc1">
        <a href="/women"> <img src="https://media.lexception.com/img/visuel/home/roseannaSS18femme.jpg"></a></div>
      <div id="bloc2">
            <a href="/men"><img src="https://media.lexception.com/img/visuel/home/APCSS18homme.jpg"> </a></div>
</div>
<div class="slideshow-container">
<div class="mySlides fade">
  <div class="numbertext">1 / 3</div>
  <img src="https://images.unsplash.com/photo-1442346910174-b49195b46a83?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=57c0896f15dc256ba096f78b7a066875&auto=format&fit=crop&w=926&q=80" style="width:100%">
  <div class="text">Caption Text</div>
</div>
<div class="mySlides fade">
  <div class="numbertext">2 / 3</div>
  <img src="https://images.unsplash.com/photo-1442346910174-b49195b46a83?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=57c0896f15dc256ba096f78b7a066875&auto=format&fit=crop&w=926&q=80" style="width:100%">
  <div class="text">Caption Two</div>
</div>
<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <img src="https://images.unsplash.com/photo-1442346910174-b49195b46a83?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=57c0896f15dc256ba096f78b7a066875&auto=format&fit=crop&w=926&q=80" style="width:100%">
  <div class="text">Caption Three</div>
</div>
<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>
 {{#each items}}
<div style="text-align:center">
  <span class="dot" onclick="{{this.id}} {{this.img}}"></span>
  <span class="dot" onclick="{{this.id}} {{this.img}}"></span>
  <span class="dot" onclick="{{this.id}} {{this.img}}"></span>
</div>
<div class="contactus">
  <div class="userInfo">
  <input id="email" type="email" placeholder="your e-mail">
  <input id="name" type="text" placeholder="your name">

</div>
  <div id="message" class="msg">
    <textarea id="message" type="text" placeholder="your message" cols="73" rows="6"> </textarea>
  </div>

  <div class="btn">
    <button class="button" type="submit">Send </button>


  </div>
  </div>


</div>
{{footer}}

</body>
<script src ="./js/slider.js">

</script>
</html>
